#home {
  position: relative;
  text-align: center;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 80vh;
  background: linear-gradient(45deg, #000000, #1a1a1a, #333333, #4d4d4d);
  background-color: #333;
  backdrop-filter: blur(5px);
  background-size: 400% 400%;
  background-position: center;
  animation: gradientAnimation 15s ease infinite;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#home .animated-text {
  font-size: 2.8em;
  color: #fff;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 3rem;
  text-align: center;
}

#home .animated-text2 {
  font-size: 1.5em;
  font-weight: 100;
  color: #fff;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.line {
  opacity: 0;
  transform: translateX(-100%);
  animation: rollOut 3s ease-out forwards;
  display: inline-block;
  white-space: nowrap;
}

.line:nth-child(1) {
  animation-delay: 0s;
}

.line:nth-child(2) {
  animation-delay: 1s;
}

.line:nth-child(3) {
  animation-delay: 2s;
}

@keyframes rollOut {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.work-with-us-button {
  margin-bottom: 40px;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 2px solid black;
  color: #fff;
  background-color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.work-with-us-button:hover {
  background-color: #fff;
  color: black;
}

@media (max-width: 1024px) {
  .animated-text {
    font-size: 2.2em;
  }
}

@media (max-width: 920px) {
  #home {
    padding: 30px 10px;
    min-height: 60vh;
  }

  .animated-text {
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .line {
    font-size: 1.4em;
    display: block;
    white-space: normal;
  }

  .work-with-us-button {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  #home {
    padding: 5px 2px;
    min-height: 80vh;
  }

  .animated-text {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
    text-align: center;
  }

  .line {
    font-size: 1em;
    display: block;
    margin-bottom: 5px;
    white-space: normal;
  }

  .work-with-us-button {
    font-size: 0.8em;
    width: 80%;
  }
}
