.header {
  top: 0;
  position: sticky;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  flex-wrap: wrap;
}

.header img {
  cursor: pointer;
  max-height: 50px;
  margin-right: 20px;
}

.header .menu-toggle-container {
  display: none;
}

.header .menu-toggle {
  font-size: 32px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 100; 
}

.nav {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh; 
  position: fixed; 
  top: 0; 
  left: 0; 
  background-color: black; 
  justify-content: center; 
  align-items: center; 
  z-index: 98; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

.nav.open {
  display: flex;
  opacity: 1; 
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center; 
}

.nav ul li {
  display: block;
  margin: 20px 0; 
  font-weight: bold;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px; 
  position: relative;
  cursor: pointer;
}

.nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav ul li a:hover::after {
  width: 100%;
}

/* Media queries for screens 1024px and above */
@media (min-width: 1024px) {
  .header .menu-toggle-container {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto; 
    position: static; 
    background-color: transparent; 
    justify-content: flex-start; 
    align-items: center; 
    opacity: 1; 
    transition: none; 
  }

  .nav ul {
    flex-direction: row;
    text-align: left; 
  }

  .nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  .nav ul li a {
    font-size: 19px; 
  }
}

/* Media queries for screens below 1024px */
@media (max-width: 1023px) {
  .header .menu-toggle-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  .header .menu-toggle {
    position: relative;
    right: 0;
    top: 0;
  }

  .nav {
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .header img {
    max-height: 40px; 
    margin-right: 10px; 
  }
}
