.header {
  top: 0;
  position: sticky;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  flex-wrap: wrap;
}

.header img {
  cursor: pointer;
  max-height: 50px;
  margin-right: 20px;
}

.header .menu-toggle-container {
  display: none;
}

.header .menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav {
  display: none;
  flex-direction: column;
  width: 100%;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav ul li {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  position: relative;
  cursor: pointer;
}

.nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav ul li a:hover::after {
  width: 100%;
}

.nav.open {
  display: flex;
}

/* Media queries for screens 1024px and above */
@media (min-width: 1024px) {
  .header .menu-toggle-container {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .nav ul {
    flex-direction: row;
  }

  .nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
}

/* Media queries for screens below 1024px */
@media (max-width: 1023px) {
  .header .menu-toggle-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  .header .menu-toggle {
    position: relative;
    right: 0;
    top: 0;
  }

  .nav {
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .header img {
    max-height: 40px; 
    margin-right: 10px; 
  }
}
