.header {
  top: 0;
  position: sticky;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  flex-wrap: wrap;
}

.header h1 {
  margin: 0;
  animation: colorChange 10s infinite, zoominout 25s infinite;
}

.header .menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav ul li {
  display: block;
  margin: 10px 0;
  text-align: center;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  position: relative;
  cursor: pointer;
}

.nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav ul li a:hover::after {
  width: 100%;
}

.nav.open {
  display: flex;
}

/* Media queries for tablets and larger screens */
@media (min-width: 768px) {
  .header .menu-toggle {
    display: none;
  }

  .nav {
    flex-direction: row;
    width: auto;
  }

  .nav ul {
    flex-direction: row;
  }

  .nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .header .menu-toggle {
    display: block;
    right: 0px;
    top: -20px;
  }

  .nav {
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .header h1 {
    font-size: 18px;
  }
}

@keyframes colorChange {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: #ff004f;
  }
}

@keyframes zoominout {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}
